*.a
*.aout
*.aoutb
*.bin
*.coff
*.com
*.dbg
*.dep
*.exe
*.i
*.ith
*.lib
*.lst
*.map
*.mo32
*.mo64
*.o
*.o64
*.obj
*.obj64
*.od
*.orig
*.out
*.pdb
*.rdf
*.rej
*.s
*.si
*.srec
*.swp
*.time
*.win32
*.win64
*.xda
*.xml
.*swo
*~
\#*
.\#*
*.bak
*.tmp
.git-ignore
cscope*
tags
TAGS
/*.1
/Makefile
/asm/directbl.c
/asm/directbl.h
/asm/directiv.h
/asm/pptok.c
/asm/pptok.h
/asm/pptok.ph
/asm/tokens.h
/asm/tokhash.c
/asm/warnings_c.h
/config/config.h.in
/config/config.h
/config.log
/config.status
/configure
/autom4te.cache
/doc/*.dip
/doc/*.hpj
/doc/*.pdf
/doc/*.pdf.xz
/doc/*.ps
/doc/*.rtf
/doc/*.texi
/doc/*.txt
/doc/Makefile
/doc/html
/doc/info
/doc/insns.src
/doc/version.src
/doc/warnings.src
/doc/perlbreq.src
/doc/pptok.src
/doc/fontpath
/doc/Fontmap
/include/warnings.h
/macros/macros.c
/misc/nasmtok.el
/misc/omfdump
/misc/Makefile
/nasm
/ndisasm
/nasm.spec
/nsis/arch.nsh
/nsis/version.nsh
/rdoff
/test/Makefile
/test/golden
/test/perf/*.asm
/test/testresults
/version.h
/version.mac
/version.mak
/version.sed
/x86/iflag.c
/x86/iflaggen.h
/x86/insnsa.c
/x86/insnsb.c
/x86/insnsd.c
/x86/insnsi.h
/x86/insnsn.c
/x86/regdis.c
/x86/regdis.h
/x86/regflags.c
/x86/regs.c
/x86/regs.h
/x86/regvals.c
/patches/
/autoconf/aclocal.m4
/autoconf/compile
/autoconf/config.*
/autoconf/install-sh
/autoconf/clean.sh
