*.a
*.bin
*.dbg
*.exe
*.lib
*.i
*.lst
*.o
*.o64
*.obj
*.obj64
*.orig
*.out
*.pdb
*.rej
*.s
*.si
*.swp
*.xml
.*swo
*~
\#*
.\#*
*.bak
*.tmp
.git-ignore
cscope*
tags
TAGS
/*.1
/Makefile
/asm/directbl.c
/asm/directiv.h
/asm/pptok.c
/asm/pptok.h
/asm/pptok.ph
/asm/tokens.h
/asm/tokhash.c
/config/config.h
/config/config.h.in
/config.log
/config.status
/configure
/doc/*.dip
/doc/*.hpj
/doc/*.pdf
/doc/*.ps
/doc/*.rtf
/doc/*.texi
/doc/*.txt
/doc/Makefile
/doc/html
/doc/info
/doc/inslist.src
/doc/version.src
/macros/macros.c
/nasm
/ndisasm
/nasm.spec
/nsis/arch.nsh
/nsis/version.nsh
/rdoff/Makefile
/rdoff/ldrdf
/rdoff/rdf2bin
/rdoff/rdf2com
/rdoff/rdf2ihx
/rdoff/rdf2ith
/rdoff/rdf2srec
/rdoff/rdfdump
/rdoff/rdflib
/rdoff/rdx
/test/golden
/test/perf/*.asm
/test/testresults
/version.h
/version.mac
/version.mak
/version.sed
/x86/iflag.c
/x86/iflaggen.h
/x86/insnsa.c
/x86/insnsb.c
/x86/insnsd.c
/x86/insnsi.h
/x86/insnsn.c
/x86/regdis.c
/x86/regdis.h
/x86/regflags.c
/x86/regs.c
/x86/regs.h
/x86/regvals.c
