*.bin
*.exe
*.lst
*.o
*.o64
*.obj
*.obj64
*.orig
*.out
*.rej
*~
/Makefile
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/*.dip
/doc/*.hpj
/doc/*.pdf
/doc/*.ps
/doc/*.rtf
/doc/*.texi
/doc/*.txt
/doc/Makefile
/doc/html
/doc/info
/insnsa.c
/insnsd.c
/insnsi.h
/insnsn.c
/macros.c
/nasm
/nasm.man
/ndisasm
/ndisasm.man
/pptok.c
/pptok.h
/rdoff/Makefile
/rdoff/ldrdf
/rdoff/rdf2bin
/rdoff/rdf2com
/rdoff/rdf2ihx
/rdoff/rdfdump
/rdoff/rdflib
/rdoff/rdx
/regdis.c
/regflags.c
/regs.c
/regs.h
/regvals.c
/test/perf/*.asm
/tokens.h
/tokhash.c
/version.h
/version.mac
/version.sed
