body {
    font-family: "source sans pro", "clear sans", "liberation sans",
    "arial", "sans-serif";
    background: white;
}
h1 {
    text-align: center;
}
code, pre {
    font-family: "source code pro", "liberation mono", "monospace";
}
pre, blockquote {
    margin-left: 4em;
    margin-right: 4em;
}
code {
    display: inline;
    white-space: nowrap;
}
a {
    text-decoration: none;
}
div.toc {
    padding-left: 0;
    font-size: 195%;
}
div.toc li {
    list-style-type: none;
    padding-left: 0;
}
div.toc ol {
    padding-left: 2em;
    font-size: 80%;
}
li.toc1 {
    padding-top: 0.7em;
}
li.toc2 {
    padding-top: 0.3em;
}
ul.index {
    list-style-type: none;
}
@media not screen {
    ul.navbar {
	display: none;
    }
}
@media print {
    a {
	color: inherit;
    }
}
@media screen {
    body {
	padding: 0;
	margin: 10px;
    }
    a:link {
	color: #33c;
    }
    a:visited {
	color: #338;
    }
    a:hover {
	background: #ccc;
    }
    a:active {
	color: #f33;
	background: #ccc;
    }
    ul.navbar {
	display: block;
	position: sticky;
	top: 10px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	list-style-type: none;
	background: #336 url("nasmlogw.png") no-repeat right center;
	background-size: contain;
    }

    ul.navbar li {
	float: left;
    }
    ul.navbar li.last {
	border-right: none;
    }
    ul.navbar a {
	border-right: 1px solid #bbb;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    }
    ul.navbar a:hover {
	background-color: #448;
    }
}
